$primary: #5ec775;
$primary-70: rgba(94, 199, 117, 0.7);
$primary-35: rgba(94, 199, 117, 0.35);
$secondary: #749cb3;
$secondary-70: rgba(116, 156, 179, 0.6);
$secondary-35: rgba(116, 156, 179, 0.35);
$background-gray: rgba(100, 100, 100, 0.3);
$cards-border: rgb(170, 213, 231);
$characters-info: rgba(170, 213, 231, 0.45);

